html {
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 50%;
    max-width: 340px;
    min-width: 300px;
    margin: 0 auto;
}

.ultimosResultados {
    color: white;
    padding: 3px;
}

.corpo {
    border: #000 solid 1px;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    background-color: powderblue;
}
button{
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.5rem;
}
.botoes button {
    width: 60px;
    height: 60px;
    margin: 5px;
    
}

.btResut {
    width: 285px;
    height: 60px;
    margin: 5px;
    background-color:red;
    color: white;
}

.display{
    width: 240px;
    height: 50px;
    border: #000 solid 1px;
    margin: 8px;
    text-align: right;
    font-family: "digital-7";
    font-size: 3rem;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.azul{
   /* background-color: DodgerBlue;*/
}